---
layout: default
---
<section class="about">
  <p>Der Arbeitskreis versammelt Interessierte am Austausch über das digitale Edieren von Protokollen und anderen administrativen Textsorten (meist in <a href="https://tei-c.org" target="_blank">TEI-XML</a>).</p>
</section>

<section class="posts">
  <h1>Aktuelles</h1>

  {% for post in paginator.posts %}
  <article class="post">

    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

    <div class="entry">
      {% if post.content contains '<!--more-->' %}

      {{ post.excerpt }}

      {% else %}

      {{ post.excerpt | markdownify | strip_html | truncate: 2000 }}

      {% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Mehr&nbsp;&#183;{% include read-time.html content=post.content %}</a>
  </article>
  {% endfor %}

  {% include pagination.html %}
</section>
